<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <img src="./images/menu.png" width ="15" heigh="15" alt=""  style="margin-left: 20px; margin-right: 20px; margin-top: 10px;">
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">최신순</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">인기순</a>
        </li>
      </ul>
    </div>