<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- head -->
    <%- include partials/head %>

    <style>
      .jumbotron {
        background-color: #3D435C;
        color: white;
        text-align: center;
      }

      .jumbotron .display {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: 700;
        color: white;
        display: inline-block;
        margin-right: 1rem;
      }
    </style>

  </head>

  <body>

    <!-- navbar -->
    <%- include partials/nav %>

    <%- include(page) %>

    <!-- view -->
    <%- include partials/bot %>

  </body>
</html>