  <!-- card -->
  <div class="container mt-5 text-center" style="margin-bottom: 500px;">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <p><%= detail_info[0].question_uid %></p>
          </div>
          <br />
          <div class="card-body">
            <h5 class="card-title">
              <p> <%= detail_info[0].question_title %> </p>
            </h5>
            <p class="card-text">
              amount: <%= detail_info[0].question_content %>
            </p>
            <br />
          </div>
        </div>
      </div>
  