<div class="container mt-5 text-center" style="margin-bottom: 500px;">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <p><%= detail_info[0].question_title %></p>
        </div>
        <br />
        <div class="card-body">
          <h5 class="card-title">
            <p><%= detail_info[0].question_content %></p>
          </h5>
          <br />
        </div>
        <div class="card-footer text-muted">
          <p>
            <%= detail_info[0].question_date %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>