<div class="container">
  <div class="columns">
    <% for(let question of question_info) { %>
      <div style="margin-left: 3%; margin-top: 1%; display: flex; width: 2000px; height: 400px;">
        <div class="card mb-3">
          <img src="https://www.economist.com/sites/default/files/images/2015/09/blogs/economist-explains/code2.png" class="card-img-top" width="20" height="200" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: black;"><a href="/question/detailquestion/<%= question.question_uid %>"><%= question.question_title %></a></h5>
            <p class="card-text"><%= question.question_content %> </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
